div#count_cart {
    background-color: #ff0700;
    padding: 0px 5px;
    color: #fff;
    position: absolute;
    top: 25px;
    margin-left: 20px;
    border-radius: 5px;
  }
  header #menu{
    background-color: #FB9696;
    color: white;
  }
  input#search {
    padding: 10px 5px;
    width: 100%;
  }
  div#div-search {
    padding-top: 10px;
    background-color: #FB9696;
  }
  header .logo{
    color: white;
    font-size: 24px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  header .input-group-addon{
    width: 1% !important;
    display: table-cell;
  }
  header #search{
    padding: 10px 5px;
    width: 100%;
  }
.product {
    height: 420px;
    width: 250px;
    display: inline-block;
    border: 1px solid transparent;
    margin: 1px;
    cursor: pointer;
}
.product-card_img{
    padding: 6px;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.2em;
    color: rgb(68,68,68);
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
.product-card_description {
  margin-top: 1em;
  padding: 6px;
}
.product-card_name {
    height: 2.5em;
    margin: 0 0 6px;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-card_rate {
    margin-top: 1em;
}
.product-card_price {
    color: #d21f30;
    font-size: 14px;
    line-height: 1;
    margin: 10px 0;
    vertical-align: middle;
    text-transform: uppercase;
}
.product-card_cert {
    background: #EB89B5;
    padding: 10px;
    color: #fff;
    text-align: center;
    opacity: 0;
}
.product:hover  .product-card_cert{
    opacity: 1;
}
.product:hover{
    border: 1px solid #ccc;
}
.scl_inited header {
position: fixed;
z-index: 201;
}
.scl_inited div#menu {
display: none;
}
.scl_inited div#body {
padding-top: 123px;
}
